<form id="addCompanyForm" class="add-company-form">
  <div>
    <label for="companyName" class="form-label">Company Name: </label>
    <input
      type="text"
      class="form-control"
      id="companyName"
      placeholder="Enter company name"
    />
    <p class="statusText" id="companyNameStatus"></p>
  </div>

  
  <div>
    <label for="startingAmount" class="form-label"
      >Starting Amount (Optional):
    </label>
    <input
    type="number"
    class="form-control"
    id="startingAmount"
    step="0.01"
    placeholder="Enter starting amount"
      />
    </div>
    <div>

  <button type="submit" class="btn btn-primary">Add Company</button>
</form>
